.bg {
    background-image: url('background.jpg');
    background-position: center;
    height: 750px;
    background-size: cover;
    background-attachment: fixed;
}

.card {
    background-color: white;
    margin-top: 10%;
}

.weather-card {
    background-color: white;
    margin-top: 7%;
    padding: 20px 0px;
}